@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff') format('woff');
}


*{
	margin: 0px;
	padding: 0px;
    font-family: 'Myriad Pro Regular';
}

:root{
	--white: #fff;
}


h1{
	color: var(--white);
}

h2{
	color: var(--white);
}
.container{
	width: 80%;
	margin: 0px auto;
}

header{
	background-color: black;
}

#sub-header{
	display: flex;
	padding: 20px 0px;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
}

nav ul li{
	color: #a7a7a7;
	list-style-type: none;
	margin-right: 40px;
}

nav ul li:last-child{
	margin-right: 0px;
}

/*:even :odd :nth-child(number) :first-child :last-child*/