@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Myriad Pro Regular'), url('fonts/myriad-pro-cufonfonts-webfont/MYRIADPRO-REGULAR.woff') format('woff');
}


*{
	margin: 0px;
	padding: 0px;
    font-family: 'Myriad Pro Regular';
}

:root{
	--white: #fff;
	--727171: #727171;
	--bg-color: #f5f5f5;
	--bg-color-2: #ff8b38;
	--text-color-2: #333333;
	--text-color-3: #ff8b38;
	--border-color-1: #d6d6d6;
}
.container{
	width: 80%;
	margin: 0px auto;
}

header{
	background-color: black;
}

#sub-header{
	display: flex;
	padding: 20px 0px;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;
}

nav ul li{
	color: #a7a7a7;
	list-style-type: none;
	margin-right: 40px;
}

nav ul li:last-child{
	margin-right: 0px;
}

/*:even :odd :nth-child(number) :first-child :last-child*/

#intro-section{
	background-image: url('../images/image.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 200px 0px;
}

#intro-sub-section{
	display: flex;
	justify-content: space-between;

}

#intro-sub-section-1 img {
	margin-bottom: 20px;
}
#intro-sub-section-1 h2 {
	color: var(--white);
	font-size: 40px;
	font-weight: 100;
	margin-bottom: 20px;
}
#intro-sub-section-1 hr {
	width: 15%;
	height: 1px;
	background-color: var(--white);
	margin-bottom: 20px;
}

#intro-sub-section-1 p {
	color: var(--727171);
	font-size: 16px;
	margin-bottom: 20px;
}
#intro-sub-section-1  button{
	background-color: transparent;
	color: var(--white);
	border: 1px solid var(--white);
	padding: 10px 30px;
}

#trial-form-container{
	background-color: var(--white);
	width: 380px;
	border-radius: 10px;
}

#trial-form-header{
	background-color: var(--bg-color);
	text-align: center;
	padding: 15px 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#trial-form-header h2{
	color: var(--text-color-2);
}
#trial-form-header h2 span{
	color: var(--text-color-3);
}

#trial-form-body{
	margin: 30px 0px;
	padding-left: 30px;
	padding-right: 30px;
}
#trial-form-body input{
	width: 100%;
	padding: 5px 10px;
	border: none;
	border-bottom: 1px solid var(--border-color-1);
	color: var(--border-color-1);
	box-sizing: border-box;
	margin-bottom: 30px;
	font-size: 16px;
	outline: none;
}

#trial-form-footer button{
	border: none;
	background-color: var(--bg-color-2);
	width: 100%;
	color: var(--white);
	padding: 15px 10px;
	font-size: 16px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#social-info{
	border-bottom: 2px solid var(--border-color-1);
}

#social-sub-info{
	display: flex;
	justify-content: space-between;
	padding: 20px 0px;
	align-items: center;
}
#social-sub-info h2{
	color:#333333;
}
#social-sub-info p{
	color: #ababab;
}

#social-sub-info-img{
	max-width: 350px;
}